
footer {
    width: 100vw;
    height: 40vh;
    background-color: #FBEFDE;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    overflow-y: hidden;
}

address {
    grid-row: 1;
    grid-column: 1;
    padding: 5% 10% 5% 10%;
}

address form {
    display: flex;
    flex-direction: column;
}

address label {
    font-style: normal;
    color: gray;
    width: fit-content;
    margin-bottom: 5vh;
    font-weight: bold;
}

address input {
    width: 15vw;
    padding: 2%;
    margin-bottom: 1vh;
}

address button {
    width: fit-content;
    padding: 2% 4% 2% 4%;
    background-color: black;
    color: white;
    cursor: pointer;
}

#social-medias {
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

#social-medias span {
    font-style: normal;
    color: gray;
}

#instagram-logo {
    width: 100px;
}

#facebook-logo {
    width: 30px;
}

.location {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    color: gray;
    padding: 5% 10% 5% 10%;
}

.location h1 {
    font-size: 16px;
    padding: 0;
}

.location span {
    margin-bottom: 1vh;
}

.hours-of-operation {
    grid-row: 1;
    grid-column: 3;
    padding: 5% 10% 5% 10%;
}

.hours-of-operation h1 {
    font-size: 16px;
    color: gray;
    padding: 0;
}

.hours-of-operation #hours {
    width: 65%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 50% 50%;
}

.hours-of-operation #hours span {
    font-weight: lighter;
    color: gray;
    margin-bottom: 10%;
}

.hours-of-operation #hours span:nth-child(odd) {
    grid-column: 1;
}

.hours-of-operation #hours span:nth-child(even) {
    grid-column: 2;
    text-align: right;
}

/* END OF Footer SECTION, START OF Slogan SECTION. */

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

.slogan-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    height: 15vh;
}

.slogan-content-container span {
    font-size:xx-large;
    font-weight: lighter;
}

.slogan-content-container p {
    font-weight: lighter;
}