/* GLOBAL STYLING. */
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

a {
    all: unset;
    cursor: pointer;
    position: relative;
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.underline {
    text-decoration: underline;
}