/* GLOBAL STYLING. */
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

a {
    all: unset;
    cursor: pointer;
    position: relative;
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.underline {
    text-decoration: underline;
}

/* END OF GLOBAL STYLING, START OF HEADER SECTION. */

.header {
    position: relative;
    background-color: #AFBB89;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#nav-pages {
    position: absolute;
    width: 500px;
    right: 0;
    display: flex;
    align-items: center;
}

#nav-pages a {
    margin-right: 3%;
    font-size: 14pt;
    font-weight: lighter;
}

nav div:last-child a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

nav div:last-child a:hover::before {
    width: 100%;
}

#order-now-button {
    width: 120px;
    height: 50px;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    margin-left: 5vw;
    width: 500px;
}

.logo-container a {
    cursor: pointer;
}

img#cafe-logo {
    width: 200px;
    object-fit: contain;
}

.header small {
    font-size: 12pt;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10% 0 0 3%;
}